<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/TestCase.php</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Controllers/</directory>
            <file>./src/UsersOnlineServiceProvider.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="./tests/report"/>
        </report>
    </coverage>
</phpunit>
